table {
    margin: auto;
}
td {
    width: 20px;
    height: 20px;
}

td#blue {
    background-color: blue;
}


td#red {
    background-color: red;
}

td#yellow {
    background-color: yellow;
}


td#green {
    background-color: green;
}


td#indigo {
    background-color: indigo;
}

td#orange {
    background-color: orange;
}